.bundle
/.yardoc
/_yardoc/
coverage
/pkg/
/spec/reports/
/tmp/
Gemfile-*.lock
test.db
/test/tmp
www/public
www/rdoc
www/build
www/.sass-cache
www/wiki
.jekyll-cache
/examples/mtls/*.pem
.DS_STORE
.idea
