# Cache gems in between builds
stages:
  - build
  - test
  - prepare
  - deploy

cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
  paths:
    - vendor/ruby

.before_script: &before_script
  - bundle install

.deps_alpine: &deps_alpine
  - apk --update add g++ make sqlite sqlite-dev postgresql-client postgresql-dev mysql-client mysql-dev git

.test: &test
- PGPASSWORD=password createdb -h postgres -U oauth oauth-unique 'oauth database to keep single row for access tokens'
- MYSQL_PWD=password mysql -u -h mysql root -e "CREATE DATABASE oauth-unique"
- "DATABASE_URL=sqlite3::memory: bundle exec rake test:ci"
- "DATABASE_URL=postgresql://oauth:password@postgres/oauth bundle exec rake test"
# concurrency limited with mysql, to avoid deadlock messages
- "DATABASE_URL=mysql2://root:password@mysql/oauth bundle exec rake test"
# DB optimization modes
- "DATABASE_URL=postgresql://oauth:password@postgres/oauth-unique ONLY_ONE_TOKEN=1 bundle exec rake test"
- "DATABASE_URL=mysql2://root:password@mysql/oauth-unique ONLY_ONE_TOKEN=1 bundle exec rake test"
# JWT supported libs
- "JWT_LIB=json/jwt DATABASE_URL=sqlite3::memory: bundle exec rake test"

.jtest: &jtest
- "DATABASE_URL=sqlite3::memory: bundle exec rake test"
- "DATABASE_URL=postgresql://oauth:password@postgres/oauth bundle exec rake test"
- "DATABASE_URL=mysql://root:password@mysql/oauth bundle exec rake test"
# JWT supported libs
- "JWT_LIB=json/jwt DATABASE_URL=postgresql://oauth:password@postgres/oauth bundle exec rake test"

services:
  -
    name: postgres:13-alpine
    alias: postgres
    # entrypoint: ["/usr/local/bin/db-postgres"]
  -
    name: mysql:8
    alias: mysql
    command:
      - --default-authentication-plugin
      - mysql_native_password

variables:
  BUNDLE_JOBS: 4
  BUNDLE_PATH: vendor
  CI: 1
  PARALLEL: 1
  # Postgres
  POSTGRES_DB: oauth
  POSTGRES_USER: oauth
  POSTGRES_PASSWORD: password
  POSTGRES_HOST_AUTH_METHOD: trust
  # Mysql
  MYSQL_DATABASE: oauth
  MYSQL_ROOT_PASSWORD: password

jruby:
  cache:
    paths:
      - vendor/jruby
  allow_failure: true
  variables:
    JRUBY_OPTS: --debug
  before_script:
    - apt-get update && apt-get install -y git
    - *before_script
  image: "jruby:9.2.13"
  script:
    - *jtest
ruby23:
  before_script:
    - *deps_alpine
    - *before_script
  image: "ruby:2.3-alpine"
  script:
    - *test
  artifacts:
    paths:
      - "coverage/"
ruby24:
  before_script:
    - *deps_alpine
    - *before_script
  image: "ruby:2.4-alpine"
  only:
    - master
  script:
    - *test
ruby25:
  before_script:
    - *deps_alpine
    - *before_script
  image: "ruby:2.5-alpine"
  only:
    - master
  script:
    - *test
ruby26:
  before_script:
    - *deps_alpine
    - *before_script
  image: "ruby:2.6-alpine"
  only:
    - master
  script:
    - *test
ruby27:
  before_script:
    - *deps_alpine
    - *before_script
  image: "ruby:2.7-alpine"
  script:
    - *test
  artifacts:
    paths:
      - "coverage/"

coverage:
  stage: prepare
  before_script:
    - *deps_alpine
    - *before_script
  dependencies:
    - jruby
    - ruby23
    - ruby27
  image: "ruby:2.7-alpine"
  script:
    - bundle exec rake coverage:report
  artifacts:
    paths:
      - "coverage/"
jekyll:
  stage: test
  image: "ruby:2.7-alpine"
  variables:
    JEKYLL_ENV: production
  before_script:
    - *deps_alpine
    - *before_script
  script:
    - bundle exec rake prepare_website
    - cd www
    - bundle config set path '../vendor'
    - bundle install
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - www/public/
pages:
  stage: deploy
  dependencies:
    - coverage
    - jekyll
  script:
    - mv www/public .
    - mv coverage public
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
