<%% apps_count = DB[:oauth_applications].count %>
<div class="btn-group" role="group" aria-label="Buttons">
  <%%= link_to "New Oauth Application", rodauth.oauth_applications_new_path, class: "btn btn-secondary" %>
</div>
<%% if apps_count.zero? %>
  <p>No oauth applications yet!</p>
<%% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Client ID (<%%= apps_count %>)</th>
        <th scope="col">Name</th>
        <th scope="col">Homepage</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%% DB[:oauth_applications].each do |application| %>
        <tr>
          <td><%%= application[:client_id] %></td>
          <td><%%= application[:name] %></td>
          <td><%%= application[:homepage_url] %></td>
          <td><%%= link_to "Show",  rodauth.oauth_application_path(application[:id]) %></td>
        </tr>
      <%% end %>
    </tbody>
  </table>
<%% end %>
