<%% tokens_count = rodauth.db[rodauth.oauth_tokens_table].count %>
<%% if tokens_count.zero? %>
  <p>No oauth tokens yet!</p>
<%% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Refresh Token</th>
        <th scope="col">Expires in</th>
        <th scope="col">Revoke</th>
        <th scope="col"><span class="badge badge-pill badge-dark"><%%= tokens_count %></span>
      </tr>
    </thead>
    <tbody>
      <%% rodauth.db[rodauth.oauth_tokens_table].each do |application| %>
        <tr>
          <td><%%= oauth_token[rodauth.oauth_tokens_token_column] %></td>
          <td><%%= oauth_token[rodauth.oauth_tokens_refresh_token_column] %></td>
          <td><%%= rodauth.convert_timestamp(oauth_token[rodauth.oauth_tokens_expires_in_column]) %></td>
          <td><%%= rodauth.convert_timestamp(oauth_token[rodauth.oauth_tokens_revoked_at_column]) %></td>
          <td>
          	<%% if !oauth_token[rodauth.oauth_tokens_revoked_at_column] %>
          		<%%= form_tag rodauth.oauth_revoke_path, method: :post do %>
          			<%%= input_hidden_tag rodauth.token_type_hint_param, "access_token" %>
                <%%= input_hidden_tag rodauth.token_param, oauth_token[rodauth.oauth_tokens_token_column] %>
                <%%= submit_tag "Revoke", class: "btn btn-danger" %>
          		<%% end %>
          	<%% end %>
        </tr>
      <%% end %>
    </tbody>
  </table>
<%% end %>
