<div class="container">
  <div class="alert alert-danger">
    <p>
      <%= @error %>%
    </p>
  </div>
 <p class="text-center">
  <%= link_to rodauth.oauth_cancel_button, @back_url, class: "btn btn-outline-danger" %>
 </p>
</div>