<%= form_tag rodauth.device_path, method: :get, class: "form-horizontal", id: "device-search-form" do %>
  <p class="lead">Insert the user code from the device you'd like to authorize.</p>

  <div class="form-group">
    <%= label_tag "user_code", rodauth.oauth_grant_user_code_label %>
    <%= text_field_tag "user_code", rodauth.param_or_nil(rodauth.oauth_grant_user_code_param), class: "form-control#{' is-invalid' if rodauth.field_error('user_code')}" %>
  </div>
  <p class="text-center">
    <%= submit_tag rodauth.oauth_device_search_button, class: "btn btn-outline-primary" %>
  </p>
<% end %>