<div class="mb-3">
  <h1><%= rodauth.oauth_frontchannel_logout_redirecting_lead %></h1>
  <p>
    <%= rodauth.oauth_frontchannel_logout_redirecting_label(link: link_to(rodauth.oauth_frontchannel_logout_redirecting_link_label, rodauth.logout_redirect)) %>
  </p>
  <% rodauth.frontchannel_logout_urls.each do |logout_url| %>
    <iframe src="<%= logout_url %>"></iframe>
  <% end %>
</div>
<meta http-equiv="refresh" content="5; URL=<%= rodauth.logout_redirect %>" />
