<form method="post" class="form-horizontal" role="form" id="login-form">
  <%=  csrf_tag if respond_to?(:csrf_tag)} %>
  <p>Grants: <%= rodauth.param('lp') %></p>
  <input type="hidden" name="lp" value="<%= rodauth.grant %>"/>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Authorize"/>
    </div>
  </div>
</form>