<% apps_count = DB[:oauth_applications].count %>
<div>
  <h2>Oauth applications (<%= apps_count %>)</h2>
  <a href="/oauth-applications/new">Register new Oauth Application</a>
  <% if apps_count.zero? %>
    <p>No oauth applications yet!</p>
  <% else %>
    <ul>
      <% DB[:oauth_applications].each do |application| %>
        <li><a href="/oauth/applications/<%= application[:id ] %>"><%= application[:name] %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>